

.popup_header_text {
    width: 15em;
    padding-left: 10px;
    color: white;
    background-color: grey;
}

.esri-popup__header-title {
    margin-left: 0;
    padding: 6px 0px 0px 0px;
}

.esri-popup__button {
    margin-bottom: 0;
    padding-bottom: 0;
}

.esri-popup__content {
    margin: 0 0 12px;
}

.popup_content_text {
    text-align: left;
    padding-left: 3px;
}