

/*Defines the placement of elements on the page*/

#wrapper {
    position: relative;
}

.left {
    left: 0;
    margin-left: 16px;
}

.right {
    right: 0;
    margin-right: 16px;
}

.top {
    top: 0;
    margin-top: 16px;
}

.bottom {
    bottom: 0;
    margin-bottom: 16px;
}

.ontop {
    z-index: 9;
} 